button {
    text-transform: uppercase;
    cursor: pointer;
}

.w260h52 {
    width: 260px;
    height: 52px;
}

.w182h36 {
    width: 182px;
    height: 36px;
}

.w167h40 {
    width: 167px;
    height: 40px;
}

.w120h40 {
    width: 120px;
    height: 40px;
}

.w150h40 {
    width: 150px;
    height: 40px;
}

.black_solid {
    background: black;
}

.white_solid {
    background: white;
}

.transparent_button {
    background: transparent;
}

.white_border {
    border: 2px solid #F6F9E5;
}

.black_border {
    border: 2px solid black;
}

.green_bottom_border {
    border: none;
    border-bottom: 2px solid #0A644A;
}

.black_bottom_border {
    border: none;
    border-bottom: 2px solid black;
}

.body_color_border {
    border: 2px solid #C47B59;
}

.transparent_border {
    border: none;
}

.white_font {
    color: white;
}

.green_font {
    color: #0A644A;
}

.black_font {
    color: black;
}

.body_color_font {
    color: #C47B59;
}

.normal_border_radius {
    border-radius: 5px;
}

.small_border_radius {
    border-radius: 2px;
}

.no_border_radius{
    border-radius: 0px;
}