.container {
    position: relative;
    background-color: #F7D8BF;
    height: 1051px;
}

.wave {
    position: absolute;
    top: -100px;
    width: 100%;
    overflow: hidden;
}

.photo {
    position: absolute;
    right: 0;
    top: 11px;
}